{
    "API_ENDPOINT": "{{API_ENDPOINT}}",
    "UAC_ENDPOINT":"{{UAC_ENDPOINT}}",
    "REPORT_ENDPOINT" : "{{REPORT_ENDPOINT}}", 
    "OAUTH_ENDPOINT":"{{OAUTH_ENDPOINT}}",
    "BPMN_ENDPOINT":"{{BPMN_ENDPOINT}}",
    "REPORT_ENDPOINT":"{{REPORT_ENDPOINT}}",
    "API_LOOKUP": "{{API_LOOKUP}}",
    "API_OMR": "{{API_OMR}}",
    "API_OCR": "{{API_OCR}}",
    "API_SOCKET":"{{API_SOCKET}}",
    "SOCKET": {
        "ENDPOINT": "{{SOCKET_ENDPOINT}}",
        "KEEPALIVE_MINUTES": "{{SOCKET_KEEPALIVE}}",
        "TIMEOUT_MINUTES": "{{SOCKET_TIMEOUT}}",
        "RECONNECT_DELAY": "{{SOCKET_RECONNECT_DELAY}}",
        "RECONNECT_DELAY_MAX": "{{SOCKET_RECONNECT_DELAY_MAX}}"
    },
    "QC_NUMBER_TASK_CLAIM": "{{QC_NUMBER_TASK_CLAIM}}",
    "ELROND_ENV": "{{ELROND_ENV}}",
    "JIVO_ID":"{{JIVO_ID}}"
}
